@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* /// */

#tete {
    background-image: url("/public/images/entre-deux-coteaux.jpg");
    background-size: cover;
    background-origin: border-box;
    color: blanchedalmond;
    font-size: 1.5vw;
}

#bro {
    background-color: rgba(255, 255, 255, 0.137);
}

h1 {
    font-weight: bold;
    text-shadow: 3px 3px 3px black, -5px -5px 0 rgba(255, 255, 255, 0.137);
    font-family: "pacifico", sans-serif;
}

h3 {
    color: blanchedalmond;
    text-shadow: 1px 1px 3px black;
}

body {
    margin: 0;
    padding: 0;
    font-family: "pacifico", sans-serif;
}

body {
    background-image: url("/public/images/nh.png");
}

header {
    text-align: center;
}

body {
    position: relative;
    color: blue;
    font-size: 1.5em;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-style: italic;
    left: 0;
    right: 0;
}

a:hover {
    text-shadow: 0.5px 0.5px 0px black;
    transition: 0.2s;
}

img {
    border-radius: 15px;
}

img:hover {
    transition: 1s;
    transform: scale(1.05);
}

#container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    margin-left: 5.9%;
    flex-wrap: wrap;
}

#item1,
#item2,
#item3,
#item4,
#item5,
#item6,
#item7,
#item8,
#item9,
#item10 {
    margin: 30px;
    border: 20px solid rgba(255, 255, 255, 0.068);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .5);
    color: black;
    text-align: center;
    background-image: url("/public/images/fond-palmier.jpg");
    background-size: cover;
}